body {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-stretch: expanded;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  background-color: #fef6e4;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #00a71c;
  padding: 10px;
  border-bottom: 3px solid black;
  z-index: 1;
  box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #8bd3dd;
  padding: 10px;
  border-top: 1px solid black;
  box-shadow: 0px -7px 14px -4px rgba(0, 0, 0, 1);
}

.area {
  background-color: #ffebbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  width: 300px;
  padding: 5px;
  margin: 20px;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#popup {
  background-color: #ffebbe;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 400px;
  margin-left: -175px;
  margin-top: -200px;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: black solid 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.playerCell,
.computerCell {
  border: 1px solid black;
  flex: 0 9%;
  width: 30px;
  height: 30px;
  background-color: rgb(71, 243, 255);
  border-radius: 2px;
}

.playerCell:hover,
.computerCell:hover,
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.playerCell[data-been-hit='true'],
.computerCell[data-been-hit='true'] {
  background-color: rgb(190, 189, 189);
}

.playerCell[data-occupied='[object Object]'] {
  background-color: rgb(255, 0, 0);
}

.playerCell[data-been-hit='true'].playerCell[data-occupied='[object Object]'],
.computerCell[data-been-hit='true'].computerCell[data-occupied='[object Object]'] {
  background-color: black;
}

#buttons {
  background-color: #fef6e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #00a71c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
